.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;
}

.current {
  font-size: xx-large;
  padding: 32px 0;
}

.answerOptions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 4px;
}

.answerOption {
  background-color: #eef2ff;
  padding: 32px;
  text-align: center;
}

.result {
  margin-top: 12px;
  border: 1px solid red;
  padding: 32px;
}
